.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #FFFEF8;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.container * {
  pointer-events: none !important;
  touch-action: none !important;
}

@supports (-webkit-touch-callout: none) {
  .container {
    height: -webkit-fill-available;
  }
}
